<!DOCTYPE html>
{% extends "base.html" %}{% block title %} Introducir marca {% endblock %} {% block content%}
<html>
    
    <br><br>
    <select class="selectpicker" multiple id = "Velocidad">
        <option>50m FEM. AL</option>
        <option>50m FEM. PC</option>
        <option>50m MASC. AL</option>
        <option>50m MASC. PC</option>
        <option>60m FEM. AL</option>
        <option>60m FEM. PC</option>
        <option>60m MASC. AL</option>
        <option>60m MASC. PC</option>
        <option>80m FEM. AL</option>
        <option>80m MASC. AL</option>
        <option>100m FEM. AL</option>
        <option>100m MASC. AL</option>
        <option>150m FEM AL</option>
        <option>150m MASC. AL</option>
        <option>200m FEM. AL</option>
        <option>200m FEM. PC</option>
        <option>200m MASC. AL</option>
        <option>200m MASC. PC</option>
        <option>300m FEM. AL</option>
        <option>300m FEM. PC</option>
        <option>300m MASC. AL</option>
        <option>300m MASC. PC</option>
        <option>400m FEM. AL</option>
        <option>400m FEM. PC</option>
        <option>400m MASC. AL</option>
        <option>400m MASC. PC</option>
    </select>
    <br><br>
    <select class = "list-group"  multiple id = "Vallas" name  = "Vallas"  >
        <option>60m vallas (0,762) FEM. PC</option>
        <option>60m vallas (0,762) Sub14 FEM. AL</option>
        <option>60m vallas (0,762) Sub14 FEM. PC</option>
        <option>60m vallas (0,84) FEM. PC</option>
        <option>60m vallas (0,84) MASC. AL</option>
        <option>60m vallas (0,84) MASC. PC</option>
        <option>60m vallas (0,91) MASC. PC</option>
        <option>60m vallas (0,91) Sub16-Master MASC. PC</option>
        <option>80m vallas (0,762) FEM. AL</option>
        <option>80m vallas (0,84) MASC. AL</option>
        <option>100m vallas (0,762) Sub18/Sub16 FEM. AL</option>
        <option>100m vallas (0,84) FEM. AL</option>
        <option>110m vallas (0,914) MASC. AL</option>
        <option>110m vallas (1,00) MASC. AL</option>
        <option>300m vallas (0,762) FEM. AL</option>
        <option>300m vallas (0,84) MASC. AL</option>
        <option>400m vallas (0,762) FEM. AL</option>
        <option>400m vallas (0,91) MASC. AL</option>
    </select>
    <br><br>
    <select class = "list-group"  multiple id = "FondoMedioFondo" name  = "FondoMedioFondo"  >
        <option>500m FEM. AL</option>
        <option>500m FEM. PC</option>
        <option>500m MASC. AL</option>
        <option>500m MASC. PC</option>
        <option>600m FEM. AL</option>
        <option>600m FEM. PC</option>
        <option>600m MASC. AL</option>
        <option>600m MASC. PC</option>
        <option>800m FEM. AL</option>
        <option>800m FEM. PC</option>
        <option>800m MASC. AL</option>
        <option>800m MASC. PC</option>
        <option>1.000m FEM. AL</option>
        <option>1.000m FEM. PC</option>
        <option>1.000m MASC. AL</option>
        <option>1.000m MASC. PC</option>
        <option>1.500m FEM. AL</option>
        <option>1.500m MASC. AL</option>
        <option>1.500m MASC. PC</option>
        <option>1.500m Obst. MASC.</option>
        <option>2.000m FEM. PC</option>
        <option>2.000m MASC.PC</option>
        <option>3.000m FEM. AL</option>
        <option>3.000m FEM. PC</option>
        <option>3.000m MASC. AL</option>
        <option>3.000m MASC. PC</option>
        <option>3.000m Obst. FEM.</option>
        <option>3.000m Obst. MASC.</option>
        <option>5km Ruta Masc.</option>
        <option>10.000m MASC. AL</option>
        <option>10km Ruta FEM.</option>
        <option>10km Ruta Masc.</option>
    </select>
    <br><br>
    <select class = "list-group"  multiple id = "Lanzamientos" name  = "Lanzamientos"  >
        <option>Disco (800g) FEM.</option>
        <option>Disco (800g) MASC.</option>
        <option>Disco (1kg) FEM.</option>
        <option>Disco (1kg) MASC.</option>
        <option>Disco (1,5kg) MASC.</option>
        <option>Disco (1,750kg) MASC.</option>
        <option>Disco (2kg) MASC.</option>
        <option>Jabalina Vortex FEM.</option>
        <option>Jabalina Vortex MASC.</option>
        <option>Jabalina (400g) FEM.</option>
        <option>Jabalina (500g) FEM.</option>
        <option>Jabalina (500g) MASC.</option>
        <option>Jabalina (600g) FEM.</option>
        <option>Jabalina (600g) MASC.</option>
        <option>Jabalina (700g) MASC.</option>
        <option>Jabalina (800g) MASC.</option>
        <option>Martillo (3kg) FEM.</option>
        <option>Martillo (4kg) FEM.</option>
        <option>Martillo (4kg) MASC.</option>
        <option>Martillo (5kg) MASC.</option>
        <option>Martillo (6kg) MASC.</option>
        <option>Martillo (7,260kg) MASC.</option>
        <option>Martillo Pesado (11,34kg) MASC.</option>
        <option>Peso (2kg) FEM AL</option>
        <option>Peso (2kg) FEM. PC</option>
        <option>Peso (2kg) MASC. AL</option>
        <option>Peso (2kg) MASC. PC</option>
        <option>Peso (3kg) FEM. AL</option>
        <option>Peso (3kg) FEM. PC</option>
        <option>Peso (3kg) MASC. AL</option>
        <option>Peso (3kg) MASC. PC</option>
        <option>Peso (4kg) FEM. AL</option>
        <option>Peso (4kg) FEM. PC</option>
        <option>Peso (4kg) MASC. AL</option>
        <option>Peso (4kg) MASC. PC</option>
        <option>Peso (5kg) MASC. AL</option>
        <option>Peso (5kg) MASC. PC</option>
        <option>Peso (6kg) MASC. AL</option>
        <option>Peso (7,260kg) MASC. AL</option>
    </select>
    <br><br>
    <select class = "list-group"  multiple id = "Saltos" name  = "Saltos"  ><option>Longitud FEM. AL</option>
        <option>Longitud FEM. PC</option>
        <option>Longitud MASC. AL</option>
        <option>Longitud MASC. PC</option>
        <option>Triple Salto FEM. AL</option>
        <option>Triple Salto FEM. PC</option>
        <option>Triple Salto MASC. AL</option>
        <option>Triple Salto MASC. PC</option>
        <option>Altura FEM. AL</option>
        <option>Altura FEM. PC</option>
        <option>Altura MASC. AL</option>
        <option>Altura MASC. PC</option>
        <option>Pertiga MASC. AL</option>
        <option>Pertiga MASC. PC</option>
    </select>
    <br><br>
    <select class = "list-group"  multiple id = "Marcha" name = "Marcha" style ="display:none;">                    
        <option>1.000m Marcha FEM. en pista</option>
        <option>1km Marcha FEM. RUTA</option>
        <option>2.000m Marcha FEM. en pista</option>
        <option>2km Marcha FEM. RUTA</option>
        <option>2km Marcha MASC. RUTA</option>
        <option>3.000m Marcha FEM. en pista</option>
        <option>3.000m Marcha MASC. en pista</option>
        <option>3km Marcha FEM. RUTA</option>
    </select>
</html>
{% endblock %}
