{% extends "base.html" %}{% block title %}{% endblock %} {% block content%}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <form method="POST">
      <h3 aling="center">Login</h3>
      <div class="form-group">
        <label for="user_cod">Codigo Usuario</label>
        <input
          type="text"
          class="form-control"
          id="user_cod"
          name="user_cod"
          placeholder="Introduce tu código de usuario"
        />
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Introduce tu contraseña"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    {% endblock %}