{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <form method="POST">
      <br><br>
      <h3 aling="center">Añadir nuevo usuario</h3>
      <div class="form-group">
        <label for="firstName">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter name"
        />
      </div>
      <br>
      <div class="form-group">
        <label for="firstName">Apellidos</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          name="surname"
          placeholder="Enter  surname"
        />
      </div>
      <br>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br><br>
      <fieldset>
        <legend>Sexo:</legend>
          <input type="radio" id="men" name="sex" value="hombre">
          <label for="men">Hombre</label>
          <input type="radio" id="mujer" name="sex" value="mujer">
          <label for="mujer">Mujer</label>
      </fieldset><br>


      <input type="checkbox" id = "administrador" name  = "administrador" />
				<label for="administrador">Administrador </label>
      <br /><br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}