{% extends "base.html" %}{% block title %} Marcas {% endblock %} {% block content%}
<!DOCTYPE html>
<html>
    <body>
        {% if User_register.admin %}
        <form  method = "POST" >
            <br>
            <label for="mark" id="informacion" name="informacion">Introduce el codigo de usuario que deseas buscar, si este campo está vacio mostrará las tuyas</label>
            <input type="text" class="form-control" id = "cod_usuario" name = "cod_usuario" />
            <br>
            <button class="btn btn-primary"> BUSCAR </button>
            <br>        <br><br>
        </form>		
        {% endif %}
        <br><br>

				
        <table class="table table-bordered table-dark" >
            <tr>
            <th>Fondo y Medio Fondo</th>
            <th>fecha</th>
            <th>marca</th>
            </tr>
            {% for x in marks  %}
            <tr>
                {% if x.sector == "Fondo / Medio Fondo" %}
                <td>{{x.disciplina}} </td>   
                <td>{{x.date}}</td>
                <td>{{x.time}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

        <br><br>
        <table class="table table-bordered table-dark" >
            <tr>
              <th>Lanzamientos</th>
              <th>fecha</th>
              <th>marca</th>
            </tr>
            {% for x in marks  %}
            <tr>
                {% if x.sector == "Lanzamientos" %}
                <td>{{x.disciplina}} </td>   
                <td>{{x.date}}</td>
                <td>{{x.meters}}</td>
                {% endif %}
            </tr>
            {% endfor %}
          </table>

          <br><br>
          <table class="table table-bordered table-dark" >
              <tr>
              <th>Saltos</th>
              <th>fecha</th>
              <th>marca</th>
              </tr>
              {% for x in marks  %}
              <tr>
                  {% if x.sector == "Saltos" %}
                  <td>{{x.disciplina}} </td>   
                  <td>{{x.date}}</td>
                  <td>{{x.meters}}</td>
                  {% endif %}
              </tr>
              {% endfor %}
          </table>
          
          <br><br>
          <table class="table table-bordered table-dark" >
              <tr>
              <th>Vallas</th>
              <th>fecha</th>
              <th>marca</th>
              </tr>
              {% for x in marks  %}
              <tr>
                  {% if x.sector == "Vallas" %}
                  <td>{{x.disciplina}} </td>   
                  <td>{{x.date}}</td>
                  <td>{{x.time}}</td>
                  {% endif %}
              </tr>
              {% endfor %}
          </table>

          <br><br>
          <table class="table table-bordered table-dark" >
              <tr>
              <th>Velocidad</th>
              <th>fecha</th>
              <th>marca</th>
              </tr>
              {% for x in marks  %}
              <tr>
                  {% if x.sector == "Velocidad" %}
                  <td>{{x.disciplina}} </td>   
                  <td>{{x.date}}</td>
                  <td>{{x.time}}</td>
                  {% endif %}
              </tr>
              {% endfor %}
          </table>
    </body>
</html>


</script>

{% endblock %}