{% extends "base.html" %}{% block title %} VIEW ALL {% endblock %} {% block content%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
        />
    </head>
<body>
        <br><br>
        <table class="table table-bordered table-dark" >
            <tr>
              <th>cod usuario</th>
              <th>nombre</th>
              <th>Apellidos</th>
              <th>administrador</th>
            </tr>
            {% for x in all_user  %}
            <tr>
                <td>{{x.id}} </td>   
                <td>{{x.name}}</td>
                <td>{{x.surname}}</td>
                <td>{{x.admin}}</td>
            </tr>
            {% endfor %}
          </table>


   
</body>

</html>


</script>

{% endblock %}