{% extends "base.html" %}{% block title %} Filtrado marcas por pruebas {% endblock %} {% block content%}
 <head>
 	<title>FILTRADO MARCAS POR PRUEBAS </title>
 </head>

{% if tipo == 1 %}
<body onload="speed()" >
{% elif tipo == 2 %}
<body onload="meters()" >
{% elif tipo == 3 %}
<body onload="long()" >
{% else %}
<body>
{% endif %}
 	<form  method = "POST" >
				<br>
                <select id = "tipo_prueba" name  = "tipo_prueba"  onchange="select_discipline()" >
                    <option>SECTORES</option>
                    <option>Fondo / Medio Fondo</option>
                    <option>Lanzamientos</option>
                    <option>Saltos</option>
                    <option>Vallas</option>
                    <option>Velocidad </option>
                </select>
                <br><br>
                <select id = "Velocidad" name  = "Velocidad" style="display:none;" >
                    <option>50m FEM. AL</option>
                    <option>50m FEM. PC</option>
                    <option>50m MASC. AL</option>
                    <option>50m MASC. PC</option>
                    <option>60m FEM. AL</option>
                    <option>60m FEM. PC</option>
                    <option>60m MASC. AL</option>
                    <option>60m MASC. PC</option>
                    <option>80m FEM. AL</option>
                    <option>80m MASC. AL</option>
                    <option>100m FEM. AL</option>
                    <option>100m MASC. AL</option>
                    <option>150m FEM AL</option>
                    <option>150m MASC. AL</option>
                    <option>200m FEM. AL</option>
                    <option>200m FEM. PC</option>
                    <option>200m MASC. AL</option>
                    <option>200m MASC. PC</option>
                    <option>300m FEM. AL</option>
                    <option>300m FEM. PC</option>
                    <option>300m MASC. AL</option>
                    <option>300m MASC. PC</option>
                    <option>400m FEM. AL</option>
                    <option>400m FEM. PC</option>
                    <option>400m MASC. AL</option>
                    <option>400m MASC. PC</option>
                </select>
                <select id = "Vallas" name  = "Vallas" style="display:none;" >
                    <option>60m vallas (0,762) FEM. PC</option>
                    <option>60m vallas (0,762) Sub14 FEM. AL</option>
                    <option>60m vallas (0,762) Sub14 FEM. PC</option>
                    <option>60m vallas (0,84) FEM. PC</option>
                    <option>60m vallas (0,84) MASC. AL</option>
                    <option>60m vallas (0,84) MASC. PC</option>
                    <option>60m vallas (0,91) MASC. PC</option>
                    <option>60m vallas (0,91) Sub16-Master MASC. PC</option>
                    <option>80m vallas (0,762) FEM. AL</option>
                    <option>80m vallas (0,84) MASC. AL</option>
                    <option>100m vallas (0,762) Sub18/Sub16 FEM. AL</option>
                    <option>100m vallas (0,84) FEM. AL</option>
                    <option>110m vallas (0,914) MASC. AL</option>
                    <option>110m vallas (1,00) MASC. AL</option>
                    <option>300m vallas (0,762) FEM. AL</option>
                    <option>300m vallas (0,84) MASC. AL</option>
                    <option>400m vallas (0,762) FEM. AL</option>
                    <option>400m vallas (0,91) MASC. AL</option>
                </select>
                <select id = "FondoMedioFondo" name  = "FondoMedioFondo" style="display:none;" >
                    <option>500m FEM. AL</option>
                    <option>500m FEM. PC</option>
                    <option>500m MASC. AL</option>
                    <option>500m MASC. PC</option>
                    <option>600m FEM. AL</option>
                    <option>600m FEM. PC</option>
                    <option>600m MASC. AL</option>
                    <option>600m MASC. PC</option>
                    <option>800m FEM. AL</option>
                    <option>800m FEM. PC</option>
                    <option>800m MASC. AL</option>
                    <option>800m MASC. PC</option>
                    <option>1.000m FEM. AL</option>
                    <option>1.000m FEM. PC</option>
                    <option>1.000m MASC. AL</option>
                    <option>1.000m MASC. PC</option>
                    <option>1.500m FEM. AL</option>
                    <option>1.500m MASC. AL</option>
                    <option>1.500m MASC. PC</option>
                    <option>1.500m Obst. MASC.</option>
                    <option>2.000m FEM. PC</option>
                    <option>2.000m MASC.PC</option>
                    <option>3.000m FEM. AL</option>
                    <option>3.000m FEM. PC</option>
                    <option>3.000m MASC. AL</option>
                    <option>3.000m MASC. PC</option>
                    <option>3.000m Obst. FEM.</option>
                    <option>3.000m Obst. MASC.</option>
                    <option>5km Ruta Masc.</option>
                    <option>10.000m MASC. AL</option>
                    <option>10km Ruta FEM.</option>
                    <option>10km Ruta Masc.</option>
                </select>
                <select id = "Lanzamientos" name  = "Lanzamientos" style="display:none;" >
                    <option>Disco (800g) FEM.</option>
                    <option>Disco (800g) MASC.</option>
                    <option>Disco (1kg) FEM.</option>
                    <option>Disco (1kg) MASC.</option>
                    <option>Disco (1,5kg) MASC.</option>
                    <option>Disco (1,750kg) MASC.</option>
                    <option>Disco (2kg) MASC.</option>
                    <option>Jabalina Vortex FEM.</option>
                    <option>Jabalina Vortex MASC.</option>
                    <option>Jabalina (400g) FEM.</option>
                    <option>Jabalina (500g) FEM.</option>
                    <option>Jabalina (500g) MASC.</option>
                    <option>Jabalina (600g) FEM.</option>
                    <option>Jabalina (600g) MASC.</option>
                    <option>Jabalina (700g) MASC.</option>
                    <option>Jabalina (800g) MASC.</option>
                    <option>Martillo (3kg) FEM.</option>
                    <option>Martillo (4kg) FEM.</option>
                    <option>Martillo (4kg) MASC.</option>
                    <option>Martillo (5kg) MASC.</option>
                    <option>Martillo (6kg) MASC.</option>
                    <option>Martillo (7,260kg) MASC.</option>
                    <option>Martillo Pesado (11,34kg) MASC.</option>
                    <option>Peso (2kg) FEM AL</option>
                    <option>Peso (2kg) FEM. PC</option>
                    <option>Peso (2kg) MASC. AL</option>
                    <option>Peso (2kg) MASC. PC</option>
                    <option>Peso (3kg) FEM. AL</option>
                    <option>Peso (3kg) FEM. PC</option>
                    <option>Peso (3kg) MASC. AL</option>
                    <option>Peso (3kg) MASC. PC</option>
                    <option>Peso (4kg) FEM. AL</option>
                    <option>Peso (4kg) FEM. PC</option>
                    <option>Peso (4kg) MASC. AL</option>
                    <option>Peso (4kg) MASC. PC</option>
                    <option>Peso (5kg) MASC. AL</option>
                    <option>Peso (5kg) MASC. PC</option>
                    <option>Peso (6kg) MASC. AL</option>
                    <option>Peso (7,260kg) MASC. AL</option>
                </select>
                <select id = "Saltos" name  = "Saltos" style="display:none;" ><option>Longitud FEM. AL</option>
                    <option>Longitud FEM. PC</option>
                    <option>Longitud MASC. AL</option>
                    <option>Longitud MASC. PC</option>
                    <option>Triple Salto FEM. AL</option>
                    <option>Triple Salto FEM. PC</option>
                    <option>Triple Salto MASC. AL</option>
                    <option>Triple Salto MASC. PC</option>
                    <option>Altura FEM. AL</option>
                    <option>Altura FEM. PC</option>
                    <option>Altura MASC. AL</option>
                    <option>Altura MASC. PC</option>
                    <option>Pertiga MASC. AL</option>
                    <option>Pertiga MASC. PC</option>
                </select>
                <select id = "Marcha" name = "Marcha" style ="display:none;">                    
                    <option>1.000m Marcha FEM. en pista</option>
                    <option>1km Marcha FEM. RUTA</option>
                    <option>2.000m Marcha FEM. en pista</option>
                    <option>2km Marcha FEM. RUTA</option>
                    <option>2km Marcha MASC. RUTA</option>
                    <option>3.000m Marcha FEM. en pista</option>
                    <option>3.000m Marcha MASC. en pista</option>
                    <option>3km Marcha FEM. RUTA</option>
                </select>
                <br><br>
                <br><br>
                <select class="list-group" multiple id="ids" name = "ids">
                        <option>seleccion a todos</option>   
                    {% for x  in all_user: %}
                        <option  value = "{{x.id}}">{{x.name}} {{x.surname}}</option>
                    {% endfor %}
                </select>
                <br><br>
				<button class="btn btn-primary"> BUSCAR </button>
                <div class="container">
                    <canvas id="lineChart"  > </canvas>
                </div>
	</form>		
</body>	

<script>
    function getRandomInt(max) {
     return Math.floor(Math.random() * max);
    }


    function long()
    {
        var ctx = document.getElementById("lineChart").getContext("2d")
        var lineChartDatasets = []
        var lineChartlabels = []
        var lineChartName = []
        const statRecords = []
        let count = 0;
        var tiempo = {{time | safe}}
        var fecha = {{date | safe}}
        var names = {{names | safe}}    
        var maxmin = {{maxmin | safe}}

        names.forEach(n => lineChartName.push(n))

        fecha.forEach(f => f.forEach(ff =>
        { 
        if(!lineChartlabels.includes(ff))
            lineChartlabels.push(ff)
        
        }))

        lineChartlabels.sort()
        for(var i = 0; i < fecha.length;++i)
        {
            const record = []
            for(var j = 0; j < fecha[i].length; ++j){
                record.push({x:fecha[i][j],y:tiempo[i][j]})
            }
            statRecords.push(record)
        }

        tiempo.forEach(t => 
        lineChartDatasets.push({
                label: lineChartName[count],
                data: statRecords[count++],
                borderColor: "rgb(" + getRandomInt(256) + "," + getRandomInt(256) +" ,"+ getRandomInt(256) +")",
                fill: false,
                pointRadius: 5.5
            }
            ))

        var myChart = new Chart(ctx, {
        type: 'line',
        data:{
                datasets: lineChartDatasets,
                labels:lineChartlabels
            },
        options: {
                Responsive: false,
                scales: {
                    yAxes: [{
                        type: 'time',
                        time: {
                            bounds: 'data',
                            parser: 'hh:mm:ss.SSSSSS',
                            unit: 'minute',
                            unitStepSize: 0.10,
                            min: '00:01:00',
                            max: '00:03:00',
                            displayFormats: {
                                'minute': 'mm:ss'
                            }
                        }
                    }]
                }
            }
        });
    } 

    function speed(){
        var ctx = document.getElementById("lineChart").getContext("2d")
        var tiempo = {{time | safe}}
        var ctx = document.getElementById("lineChart").getContext("2d")
        var lineChartDatasets = []
        var lineChartlabels = []
        var lineChartName = []
        const statRecords = []
        let count = 0;
        var tiempo = {{time | safe}}
        var fecha = {{date | safe}}
        var names = {{names | safe}}    
        var maxmin = {{maxmin | safe}}

        names.forEach(n => lineChartName.push(n))

        fecha.forEach(f => f.forEach(ff =>
        { 
        if(!lineChartlabels.includes(ff))
            lineChartlabels.push(ff)
        
        }))

        lineChartlabels.sort()
        for(var i = 0; i < fecha.length;++i)
        {
            const record = []
            for(var j = 0; j < fecha[i].length; ++j){
                record.push({x:fecha[i][j],y:tiempo[i][j]})
            }
            statRecords.push(record)
        }

        tiempo.forEach(t => 
        lineChartDatasets.push({
                label: lineChartName[count],
                data: statRecords[count++],
                borderColor: "rgb(" + getRandomInt(256) + "," + getRandomInt(256) +" ,"+ getRandomInt(256) +")",
                fill: false,
                pointRadius: 5.5
            }
            ))

        var myChart = new Chart(ctx, {
        type: 'line',
        data:{
                datasets: lineChartDatasets,
                labels:lineChartlabels
            },
        options: {
                Responsive: false,
                scales: {
                    yAxes: [{
                        type: 'time',
                        time: {
                            parser: 'hh:mm:ss.SS',
                            unit: 'seconds',
                            unitStepSize: 0.50,
                            min: maxmin[0],
                            max: maxmin[1],
                            displayFormats: {
                                'seconds': 'ss.SS'
                            }
                        }
                    }]
                },
                Responsive: false
            }
        });
    }

    function meters()
    {
    var ctx = document.getElementById("lineChart").getContext("2d")
    var lineChartDatasets = []
    var lineChartName = []
    var lineChartlabels = []
    var fecha = {{labels | safe}}
    var tiempo = {{time | safe}}
    var fecha = {{date | safe}}
    var names = {{names | safe}}    
    
    const statRecords = []
    let count = 0;

    names.forEach(n => lineChartName.push(n))
    
    fecha.forEach(f => f.forEach(ff =>
        { 
        if(!lineChartlabels.includes(ff))
            lineChartlabels.push(ff)
        
        }))
    
    for(var i = 0; i < tiempo.length;++i)
    {
        const record = []
       for(var j = 0; j < tiempo[i].length; ++j){
            record.push({x:fecha[i][j], y:tiempo[i][j]})
       }
       statRecords.push(record)
    }
    
    tiempo.forEach(t => 
    lineChartDatasets.push({
            label: lineChartName[count],
            data: statRecords[count++],
            borderColor: "rgb(" + getRandomInt(256) + "," + getRandomInt(256) +" ,"+ getRandomInt(256) +")",
            fill: false,
            pointRadius: 5.5
        }
        ))

        var myChart = new Chart(ctx, {
        type: 'line',
        data:{
                datasets: lineChartDatasets,
                labels:lineChartlabels
            },
        options:
            {
                Responsive: false
            }
        });
    }
</script>

<script>
 function select_discipline() {
    if (document.getElementById("tipo_prueba").value == "Velocidad")
    {
         document.getElementById("Velocidad").style.display = "block"
         document.getElementById("Vallas").style.display = "none"
         document.getElementById("FondoMedioFondo").style.display = "none"
         document.getElementById("Lanzamientos").style.display = "none"
         document.getElementById("Saltos").style.display = "none"
    }
    else if (document.getElementById("tipo_prueba").value == "Vallas")
    {
         document.getElementById("Velocidad").style.display = "none"
         document.getElementById("Vallas").style.display = "block"
         document.getElementById("FondoMedioFondo").style.display = "none"
         document.getElementById("Lanzamientos").style.display = "none"
         document.getElementById("Saltos").style.display = "none"
    }
    else if (document.getElementById("tipo_prueba").value == "Fondo / Medio Fondo")
    {
         document.getElementById("Velocidad").style.display = "none"
         document.getElementById("Vallas").style.display = "none"
         document.getElementById("FondoMedioFondo").style.display = "block"
         document.getElementById("Lanzamientos").style.display = "none"
         document.getElementById("Saltos").style.display = "none"
    }  
    else if (document.getElementById("tipo_prueba").value == "Lanzamientos")
    {
         document.getElementById("Velocidad").style.display = "none"
         document.getElementById("Vallas").style.display = "none"
         document.getElementById("FondoMedioFondo").style.display = "none"
         document.getElementById("Lanzamientos").style.display = "block"
         document.getElementById("Saltos").style.display = "none"
    }   
    else if (document.getElementById("tipo_prueba").value == "Saltos")
    {
         document.getElementById("Velocidad").style.display = "none"
         document.getElementById("Vallas").style.display = "none"
         document.getElementById("FondoMedioFondo").style.display = "none"
         document.getElementById("Lanzamientos").style.display = "none"
         document.getElementById("Saltos").style.display = "block"
    }      
 }



</script>
{% endblock %}
