{% extends "base.html" %}{% block title %} VIEW ALL {% endblock %} {% block content%}
<!DOCTYPE html>
<html>
<body>
        <br><br>
        <table class="table " >
          <thead class="thead-light">
            <tr>
              <th>cod usuario</th>
              <th>nombre</th>
              <th>Apellidos</th>
              <th>administrador</th>
            </tr>
          </thead>
          <tbody>
            {% for x in all_user  %}
            <tr>
              <td>
                { %if x.url_photo != None %}
                <img src="{{ url_for('mostrar_imagen', nombre_archivo=x.url_photo.split('\\')[-1]) }}" alt="{{ User_register.username }}"
                  style="max-width: 100px; max-height: 100px;">
                { % endif% }
                
                </td>
                <td>{{x.id}} </td>   
                <td>{{x.name}}</td>
                <td>{{x.surname}}</td>
                <td>{{x.admin}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>


   
</body>

</html>


</script>

{% endblock %}