{% extends "base.html" %}{% block title %} Test {% endblock %} {% block content%}
<!DOCTYPE html>
<html>
    <body>
        <br><br>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre test</th>
                    <th scope="col">fecha</th>
                    <th scope="col">repeticiones</th>
                    <th scope="col">marca</th>
                </tr>
            </thead>
            <tbody>
            {% for x in marks  %}
            <tr>
                <td>{{x.test_name}} </td>   
                <td>{{x.date}}</td>
                <td>{{x.repeticiones}}</td>
                <td>{{x.mark}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
    </body>
    
</html>


</script>

{% endblock %}